html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-black: #0000;
  --color-black1: #1e1e1e;
  --color-black2: #1d1d1d;
  --color-black3: #282828;
  --color-white: #ffffff;
  --color-gray1: #333333;
  --color-gray2: #4f4f4f;
  --color-gray3: #828282;
  --color-gray4: #bdbdbd;
  --color-gray5: #e0e0e0;
  --color-green: #27ae60;
  --color-blue: #2f80ed;
  --color-orange: #ff9f0d;
  --color-darkorange: #af872f;
  --font-heading1: 60px;
  --font-heading2: 48px;
  --font-heading3: 40px;
  --font-heading4: 32px;
  --font-heading5: 24px;
  --font-heading6: 20px;
  --lerege-textbold: 20px;
  --medium-textbold: 18px;
  --normal-textbold: 16px;
  --small-textbold: 14px;
  --normalfont-family: Inter;
  --greatfont--family: Great Vibes;
}

body {
  background-color: rgb(0, 0, 0);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vh;
  padding: 2vh;
  height: 100vh;
  background-image: url("path-to-image.jpg");
  background-size: cover;
  background-position: center;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}
.header * {
  position: relative;
  z-index: 1;
}

.header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--normalfont-family);
}
.header .header__logo .header__logo-link {
  font-size: var(--font-heading4);
  color: var(--color-white);
}
.header .header__logo .header__logo-link .header__logo-linkcolor {
  color: var(--color-orange);
}
.header .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .header__navigation .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
}
.header .header__navigation .header__list .header__list-element {
  color: var(--color-white);
}
.header .header__navigation .header__list .header__list-input {
  width: 15vw;
  height: 3vh;
  border-radius: 22px;
  padding: 2vh;
  color: var(--color-white);
  border: 1px solid orange;
}
.header .header__infocont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vw;
}
.header .header__infocont .infocont__textcont {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vh;
}
.header .header__infocont .infocont__textcont .textcont__info .info__title {
  font-family: var(--greatfont--family);
  color: var(--color-orange);
  font-size: var(--font-heading4);
}
.header .header__infocont .infocont__textcont .textcont__info .info__title-2 {
  color: var(--color-white);
  font-size: var(--font-heading1);
}
.header .header__infocont .infocont__textcont .textcont__info .info__title-2 .title__span {
  color: var(--color-orange);
}
.header .header__infocont .infocont__textcont .textcont__info .info__text {
  color: var(--color-gray3);
}
.header .header__infocont .infocont__textcont .textcont__info .info__btn {
  width: 10vw;
  height: 5vh;
  border-radius: 22px;
  color: var(--color-white);
  background-color: var(--color-orange);
}

.main {
  padding: 20vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5vw;
}
.main__information .information__achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vh;
  width: 30%;
}
.main__information .information__achievement .achievement__info-achievement .info__text {
  font-size: var(--normal-textbold);
  color: var(--color-white);
  line-height: 1.5;
}
.main__information .information__achievement .achievement__info-achievement .info-achievement__title {
  font-size: var(--font-heading5);
  font-family: var(--greatfont--family);
  color: var(--color-orange);
}
.main__information .information__achievement .achievement__info-achievement .info-achievement__title .title__span {
  color: var(--color-orange);
}
.main__information .information__achievement .achievement__info-achievement .info-achievement__title-2 {
  font-size: var(--font-heading2);
  color: var(--color-white);
}
.main__information .information__achievement .achievement__info-achievement .info-achievement__title-2 .title__span {
  color: var(--color-orange);
}
.main__information .information__achievement .achievement__info-achievement--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4vh;
}
.main__information .information__achievement .achievement__info-achievement--text .info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5vw;
  font-size: var(--normal-textbold);
  color: var(--color-white);
}
.main__information .information__achievement .achievement__info-achievement--text .info-achievement__btn,
.main__information .information__achievement .achievement__info-achievement--text .btn {
  width: 10vw;
  height: 6vh;
  border-radius: 22px;
  background-color: var(--color-orange);
  color: var(--color-white);
}
.main__information .information__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr/1fr;
  grid-template-columns: 2fr/1fr;
  gap: 1vh;
}
.main__information .img__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
}
.main__choose {
  padding: 20vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vh;
}
.main__choose .choose__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}
.main__choose .choose__title .choosecont__title-1 {
  text-align: center;
  font-size: var(--font-heading4);
  font-family: var(--greatfont--family);
  color: var(--color-orange);
}
.main__choose .choose__title .choosecont__title-2 {
  font-size: var(--font-heading2);
  font-family: var(--greatfont--family);
  color: var(--color-white);
}
.main .choose__chooseimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5vw;
}
.main .main__ourlist {
  margin: 20vh 0 0 0;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.main .main__ourlist::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 0;
}
.main .main__ourlist * {
  position: relative;
  z-index: 1;
}
.main .main__ourlist .ourlis_imgcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7vw;
}
.main .main__ourlist .ourlis_imgcont .imgcont__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vh;
}
.main .main__ourlist .ourlis_imgcont .imgcont__img .img__text {
  font-size: var(--font-heading5);
  text-align: center;
  color: var(--color-white);
}
.main .main__ourlist .ourlis_imgcont .imgcont__img .img__text--number {
  font-size: var(--font-heading3);
  text-align: center;
  color: var(--color-white);
}
.main .main__foodmenu {
  padding: 20vh 0 0 0;
}
.main .foodmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5vh;
}
.main .foodmenu .foodmenu__title-cont .foodmenu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vh;
}
.main .foodmenu .foodmenu__title-cont .foodmenu__title .foodmenu__title-text {
  font-size: var(--font-heading4);
  color: var(--color-orange);
  font-family: var(--greatfont--family);
}
.main .foodmenu .foodmenu__title-cont .foodmenu__title .foodmenu__title-text--big {
  font-size: var(--font-heading1);
  color: var(--color-white);
}
.main .foodmenu .foodmenu__title-cont .foodmenu__title .foodmenu__title-text--big .foodmenu__span {
  color: var(--color-orange);
}
.main .foodmenu .fodmenu__menu-box {
  padding: 0 5vw 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
}
.main .foodmenu .fodmenu__menu-box .foodmenu__menu-cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw 10vw 20vw;
  grid-template-columns: repeat(2, 20vw);
  -webkit-column-gap: 10vw;
     -moz-column-gap: 10vw;
          column-gap: 10vw;
  row-gap: 4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .foodmenu .fodmenu__menu-box .foodmenu__menu-cont .menu-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
}
.main .foodmenu .fodmenu__menu-box .foodmenu__menu-cont .menu-element .menu-element__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .foodmenu .fodmenu__menu-box .foodmenu__menu-cont .menu-element .menu-element__text-cont {
  line-height: 1.3;
}
.main .foodmenu .fodmenu__menu-box .foodmenu__menu-cont .menu-element .menu-element__text-cont .menu__element-title {
  font-size: var(--font-heading5);
  color: var(--color-white);
}
.main .foodmenu .fodmenu__menu-box .foodmenu__menu-cont .menu-element .menu-element__text-cont .menu-element__text {
  font-size: var(--lerege-textbold);
  color: var(--color-white);
}
.main .foodmenu .fodmenu__menu-box .foodmenu__menu-cont .menu-element .menu-element__text-cont .menu-element__text--orange {
  font-size: var(--lerege-textbold);
  color: var(--color-orange);
}
.main .main__ourchef {
  padding: 20vh 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vh;
}
.main .ourchef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .ourchef .ourchef__title-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .ourchef .ourchef__title-cont .ourchef__title {
  font-size: var(--font-heading5);
  font-family: var(--greatfont--family);
  color: var(--color-orange);
}
.main .ourchef .ourchef__title-cont .ourchef__title--big {
  font-size: var(--font-heading2);
  color: var(--color-white);
}
.main .ourchef .ourchef__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vw;
}
.main .ourchef .ourchef__btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .ourchef .ourchef__btn-cont .ourchef__btn {
  width: 10vw;
  height: 5vh;
  border-radius: 22px;
  border: solid var(--color-orange);
  color: var(--color-white);
}

.footer {
  padding: 20vh 0 0 0;
}
.footer .footer__big-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__big-cont .support-cont {
  width: 80%;
  padding: 0 0 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid var(--color-orange);
  gap: 15vw;
}
.footer .footer__big-cont .support-cont__text-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vh;
}
.footer .footer__big-cont .support-cont__text-cont .support-cont__title {
  font-size: var(--font-heading4);
  color: var(--color-white);
}
.footer .footer__big-cont .support-cont__text-cont .support-cont__text {
  color: var(--color-white);
}
.footer .footer__big-cont .support-cont .support-cont__input-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__big-cont .support-cont .support-cont__input-cont .support-cont__input {
  width: 15vw;
  height: 5vh;
  padding: 0 0 0 1vw;
  color: var(--color-white);
  background-color: var(--color-orange);
}
.footer .footer__big-cont .support-cont .support-cont__input-cont .support-cont__btn {
  width: 8vw;
  height: 5vh;
  color: var(--color-orange);
  background-color: var(--color-white);
}
.footer .footer__big-cont .footer__link-cont {
  padding: 5vh 0 0 0;
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15vw;
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__about {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__about .footer__about-title {
  font-size: var(--font-heading5);
  color: var(--color-white);
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__about .footer__about-text {
  color: var(--color-white);
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__about .footer__about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vh;
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__about .footer__about-img .footer__img-text {
  line-height: 1.5;
  color: var(--color-white);
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__link-list .footer__list-title {
  font-size: var(--font-heading5);
  color: var(--color-white);
}
.footer .footer__big-cont .footer__link-cont .footer__link-listcont .footer__link-list .footer__link {
  color: var(--color-white);
  font-size: var(--lerege-textbold);
}